@using MatrixRotatorWebApplication.Models

@model MatrixRotatorWebApplication.Models.Matrix<int?>

@{
    ViewData["Title"] = "Matrix";
    var rotatedMatrix = ViewData["RotatedMatrix"] as Matrix<int?>;
}

<h2>Matrix</h2>
@using (Html.BeginForm())
{

    @Html.LabelFor(m => m.Size)
    <br />
    @Html.TextBoxFor(m => m.Size)
    <input type="submit" value="Change size" class="btn btn-default" />
}

@using (Html.BeginForm())
{
    <table class="table">
        <caption>Source matrix</caption>
        <tbody>
            @for (var i = 0; i < Model.Size; i++)
            {
                <tr>
                    @for (var j = 0; j < Model.Size; j++)
                    {
                        <td>
                            @Html.TextBox($"elements[{i}, {j}]", Model.Elements[i, j])
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Rotate" class="btn btn-default" />
}
@if (rotatedMatrix != null)
{
    <table class="table">
        <caption>Rotated matrix</caption>
        <tbody>
            @for (var i = 0; i < rotatedMatrix.Size; i++)
            {
                <tr>
                    @for (var j = 0; j < rotatedMatrix.Size; j++)
                    {
                        <td>
                            @Html.TextBox($"rotatedelements[{i}, {j}]", rotatedMatrix.Elements[i, j])
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

}